<robot
  name="vertical_axis_soto_2_0_description"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- extend xacro functionality with macros of urdf_utils -->
  <xacro:include filename="$(find urdf_utils)/urdf/properties/defaults.xacro" />
  <xacro:include filename="$(find urdf_utils)/urdf/limit.xacro" />
  <xacro:include filename="$(find urdf_utils)/urdf/origin.xacro" />
  <xacro:include filename="$(find urdf_utils)/urdf/parent.xacro" />

  <!-- Load default joint data from yaml files in config directory. -->
  <!-- If additional data is present in cman, use it to overwrite the default one. -->
  <xacro:property
      name="cman_config"
      value="${load_cman('vertical_axis_soto_2_0_description', 'vertical_axis_soto_2_0_description.yaml', '')}" />

  <xacro:arg name="standalone" default="false"/>
  <xacro:property name="standalone" value="$(arg standalone)"/>

  <xacro:property name="ground_plane_to_manipulator_base" value="0.143" />
  <xacro:property name="vertical_axis_link_to_conveyor_surface" value="0.0885" />
  <xacro:property name="ground_plane_to_conveyor_surface_min" value="0.345" />

  <!-- Start of manually added component -->
  <xacro:unless value="${standalone}">
    <joint
      name="manipulator_base_to_base_link"
      type="fixed">
      <origin
        xyz="0.2365 0 -0.0385"
        rpy="0 0 0" />
      <parent
        link="base_link" />
      <child
        link="manipulator_base_link" />
    </joint>
  </xacro:unless>

  <link
    name="gripper_carrier_frame_link">
    <inertial>
      <origin
        xyz="0.419871261985957 -0.378092873023538 -0.172763052387008"
        rpy="0 0 0" />
      <mass
        value="22.6544046182285" />
      <inertia
        ixx="0.000978681072360067"
        ixy="5.36158454747139E-06"
        ixz="5.72288391326164E-05"
        iyy="0.212674313369314"
        iyz="-4.50383372113037E-05"
        izz="0.211729185697808" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/gripper_carrier_frame_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/gripper_carrier_frame_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="vertical_axis_to_carrier_frame"
    type="fixed">
    <origin
      xyz="0 0 ${ground_plane_to_conveyor_surface_min - vertical_axis_link_to_conveyor_surface}"
      rpy="0 0 0" />
    <parent
      link="vertical_axis_link" />
    <child
      link="gripper_carrier_frame_link" />
  </joint>

  <!-- start of Optical frames -->
  <link
    name="nav_3d_cam_front_depth_optical_frame" />
  <joint
    name="nav_3d_cam_front_depth_optical"
    type="fixed">
    <xacro:origin_from_config config="${cman_config}" joint_name="nav_3d_cam_front_depth_optical" />
    <xacro:parent_from_config config="${cman_config}" joint_name="nav_3d_cam_front_depth_optical" />
    <child
      link="nav_3d_cam_front_depth_optical_frame" />
  </joint>
  <link
    name="nav_3d_cam_front_rgb_optical_frame" />
  <joint
    name="nav_3d_cam_front_rgb_optical"
    type="fixed">
    <xacro:origin_from_config config="${cman_config}" joint_name="nav_3d_cam_front_rgb_optical" />
    <xacro:parent_from_config config="${cman_config}" joint_name="nav_3d_cam_front_rgb_optical" />
    <child
      link="nav_3d_cam_front_rgb_optical_frame" />
  </joint>

  <!-- Start of autogenerated component -->
  <link
    name="manipulator_base_link">
    <inertial>
      <origin
        xyz="0.0140831490754253 -0.0103314828835449 1.03628074208567"
        rpy="0 0 0" />
      <mass
        value="49.4957057836692" />
      <inertia
        ixx="28.4337696303107"
        ixy="0.170730173040725"
        ixz="0.770352253194218"
        iyy="27.3913289655028"
        iyz="0.419406036104634"
        izz="15.9885561853555" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/manipulator_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/manipulator_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="vertical_axis_link">
    <inertial>
      <origin
        xyz="0.420000000000104 -0.147165343803046 0.0668738949005537"
        rpy="0 0 0" />
      <mass
        value="4.67274949695533" />
      <inertia
        ixx="0.605491366340649"
        ixy="-1.6991963391888E-13"
        ixz="2.22521653880925E-14"
        iyy="0.756041439643056"
        iyz="-0.0117324984712755"
        izz="1.35863466880556" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 ${ground_plane_to_conveyor_surface_min - vertical_axis_link_to_conveyor_surface}"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/vertical_axis_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 ${ground_plane_to_conveyor_surface_min - vertical_axis_link_to_conveyor_surface}"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/vertical_axis_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="vertical_axis"
    type="prismatic">
    <origin
      xyz="-0.420000000000075 0.381609999999924 ${-1 * ground_plane_to_conveyor_surface_min - ground_plane_to_manipulator_base}"
      rpy="0 0 0" />
    <parent
      link="manipulator_base_link" />
    <child
      link="vertical_axis_link" />
    <axis
      xyz="0 0 1" />
    <xacro:limit_from_config config="${cman_config}" joint_name="vertical_axis" />
  </joint>
  <link name="nav_3d_cam_front_link" >
    <xacro:point_inertial
      mass="0.018" />
  </link>
  <joint
    name="nav_3d_cam_front"
    type="fixed">
    <origin
      xyz="0.673539512035944 0.00661000000000513 1.92628520157743"
      rpy="-2.50454747661185 0 -1.57079632679489" />
    <parent
      link="manipulator_base_link" />
    <child
      link="nav_3d_cam_front_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="light_curtain_receiver_front_link">
    <inertial>
      <origin
        xyz="-0.0134506399940098 0.000460652545141254 1.37200510917923E-05"
        rpy="0 0 0" />
      <mass
        value="0.639593835683051" />
      <inertia
        ixx="0.03084176"
        ixy="0"
        ixz="0"
        iyy="0.00013446"
        iyz="0"
        izz="0.03082808" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_receiver_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_receiver_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="manipulator_base_to_receiver_front"
    type="fixed">
    <origin
      xyz="0.612816314445163 0.00230001773507929 0.247218554241161"
      rpy="3.14159265358979 -1.5707963267949 0" />
    <parent
      link="manipulator_base_link" />
    <child
      link="light_curtain_receiver_front_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="light_curtain_emitter_front_link">
    <inertial>
      <origin
        xyz="-0.0134507091493998 -5.86724921519569E-05 1.27766254944817E-05"
        rpy="0 0 0" />
      <mass
        value="0.639590567420819" />
      <inertia
        ixx="0.03084176"
        ixy="0"
        ixz="0"
        iyy="0.00013446"
        iyz="0"
        izz="0.03082808" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_emitter_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_emitter_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="manipulator_base_to_emitter_front"
    type="fixed">
    <origin
      xyz="0.613000000420853 0.00399206214091707 1.92309999999978"
      rpy="-0.0336671572796617 1.57079631189374 3.10792549631013" />
    <parent
      link="manipulator_base_link" />
    <child
      link="light_curtain_emitter_front_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="light_curtain_receiver_left_link">
    <inertial>
      <origin
        xyz="-0.0134506399940099 0.000460652545142018 1.37200510916813E-05"
        rpy="0 0 0" />
      <mass
        value="0.639593835683055" />
      <inertia
        ixx="0.03084176"
        ixy="0"
        ixz="0"
        iyy="0.00013446"
        iyz="0"
        izz="0.03082808" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_receiver_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_receiver_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="manipulator_base_to_receiver_left"
    type="fixed">
    <origin
      xyz="0.0013599822863284 0.507000941267109 0.0620098761376573"
      rpy="1.57079632679501 -1.5707963267949 0" />
    <parent
      link="manipulator_base_link" />
    <child
      link="light_curtain_receiver_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="light_curtain_emitter_left_link">
    <inertial>
      <origin
        xyz="-0.0134507091493994 -5.8672492154189E-05 1.27766254947037E-05"
        rpy="0 0 0" />
      <mass
        value="0.639590567420818" />
      <inertia
        ixx="0.03084176"
        ixy="0"
        ixz="0"
        iyy="0.00013446"
        iyz="0"
        izz="0.03082808" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_emitter_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_emitter_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="manipulator_base_to_emitter_left"
    type="fixed">
    <origin
      xyz="0.000842062140590042 0.50701000012157 1.92299012386215"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="manipulator_base_link" />
    <child
      link="light_curtain_emitter_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="light_curtain_receiver_right_link">
    <inertial>
      <origin
        xyz="-0.0134506399940099 0.000460652545141308 1.37200510919033E-05"
        rpy="0 0 0" />
      <mass
        value="0.639593835683049" />
      <inertia
        ixx="0.03084176"
        ixy="0"
        ixz="0"
        iyy="0.00013446"
        iyz="0"
        izz="0.03082808" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_receiver_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_receiver_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="manipulator_base_to_receiver_right"
    type="fixed">
    <origin
      xyz="0.00125998228584711 -0.49899905903031 0.0620098761378208"
      rpy="0.032557324725479 -1.57079630572147 1.53823900206941" />
    <parent
      link="manipulator_base_link" />
    <child
      link="light_curtain_receiver_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="light_curtain_emitter_right_link">
    <inertial>
      <origin
        xyz="-0.0134507091493998 -5.86724921541233E-05 1.27766254945927E-05"
        rpy="0 0 0" />
      <mass
        value="0.639590567420825" />
      <inertia
        ixx="0.03084176"
        ixy="0"
        ixz="0"
        iyy="0.00013446"
        iyz="0"
        izz="0.03082808" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_emitter_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vertical_axis_soto_2_0_description/meshes/light_curtain_emitter_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="manipulator_base_to_emitter_right"
    type="fixed">
    <origin
      xyz="0.00074206213964603 -0.499000000420611 1.92299012386212"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="manipulator_base_link" />
    <child
      link="light_curtain_emitter_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>